
/* Title */
#title {
  background-color: #0AA;
  color: white;
}

.container-fluid {
  padding: 1% 10%;
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.7rem;
  line-height: 1.5;
  padding-left: 10px;
}

h2 {
  line-height: 1.5em;
}

p {
  color: #1D5C63;
}

.contact-btn {
  margin: 5% 3% 5% 0;
}



/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 900;
  font-size: 1.3rem;
}


/* Features */
#features {
  text-align: center;
}

.feature-title {
  font-weight: 900;
  line-height: 1.5;
}

.features-row {
  padding: 10px 10% 10px 10%;
}

.feature-col {
  padding: 50px 1%;
}

.feature-img {
  margin: 0 auto 20px auto;
  color: #0AA;
}

.feature-img:hover {
  color: #1D5C63;
}


/* Testimonials  */

#testimonials {
  background-color: #0AA;
  text-align: center;
  color: #fff;
}

.carousel-item {
  padding: 7% 30%;
}

.special-text {
  font-family: "Lobster";
  color: #1D5C63;
}

/* Skill List */
#skill-list {
  text-align: center;
}

.card-header {
  color: #0AA;
  font-family: "Lobster";
}

.row {
  padding: 5% 15%;
}

/* Call to Action */
#cta {
  background-color: #0AA;
  text-align: center;
  padding: 6% 23% 6%;
}
 .cta-h3 {
   font-weight: 900;
   font-size: 3.5rem;
   line-height: 4.5rem;
   color: white;

 }

/* footer */
#footer {
  text-align: center;
  padding: 3%;
}
