body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

/* Title */
#title {
  background-color: #0AA;
  color: white;
}

.container-fluid {
  padding: 1% 15%;
  
}

.title-header {
  text-align: left;
  font-weight: 900;
  font-size: 3.7rem;
  
}

@media (max-width: 500px) {
  h1 {
    text-align: center;
    padding-right: 2%;
    font-size: 3.3rem;
  }
}

p {
  color: #1D5C63;
}

.contact-btn {
  margin: 5% 3% 5% 0;
}



/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 900;
  font-size: 1.3rem;
}


/* Features */

.feature-title {
  font-weight: 900;
}

.features-row {
  padding: 10px 10% 10px 10%;
}

.feature-col {
  padding: 50px 1%;
}

.feature-img {
  margin: 0 auto 20px auto;
  color: #0AA;
}

.feature-img:hover {
  color: #1D5C63;
}


/* Testimonials  */

#testimonials {
  background-color: #0AA;
  color: #fff;
}

.testimonial-header {
  padding: 3% 20% 1%;
  font-size: 3rem;
  font-weight: 900;
}
  
.carousel-item {
  padding: 2% 30% 5%;
}

.special-text {
  font-family: "Lobster";
  color: #1D5C63;
}

/* Skill List */

.card-header {
  color: #0AA;
  font-family: "Lobster";
}

.row {
  padding: 5% 15%;
}

/* Call to Action */
#cta {
  background-color: #0AA;
  padding: 6% 23% 4%;
}
 .cta-h3 {
   font-weight: 900;
   font-size: 3.5rem;
   line-height: 4.5rem;
   color: white;

 }

/* footer */
#footer {
  padding: 5% 5% 1%;
}
