body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

/* Title */
#title {
  background-color: #1D5C63;
  color: white;
  padding-top: 15%;
}

.carouselContainer {
  padding: 0;
  text-align: center;
}

.title_carousel_item {
  padding-left: 10%;
  padding-right: 10%;
}

/* .slideOne {
  width: 100%;
  margin: auto;
} */

.titleCarousel {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.5;
  padding: 5% 15%;
/*   text-align: left; */
}

/* .carousel-caption {
	bottom: 20%;
} */

.rainbowWord1{
  background: linear-gradient(to right, #FF165D, #FF9A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.rainbowWord2{
  background: linear-gradient(to left, #FF165D, #FF9A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .titleImg {
  width: 20%;
  border-radius: 90%;
  margin: 5% 30%;
} */


.titleButtons {
  text-align: center;
}



@media (max-width: 500px) {
  h1 {
    text-align: center;
    padding-right: 2%;
    font-size: 2rem;
  }
	
 .testimonial-text {
	 font-size: 1.5rem;
}
 .featureHeader {
    padding-top: 5%;
    padding-bottom: 5%;
}
}

p {
  color: #1D5C63;
}

.contact-btn {
  margin: 5% 3% 5% 0;
}



/* Navigation Bar */

.navbar {
/*   padding: 0 0 4.5rem; */
  margin: auto;
}

.navContainer {
  width: 60%;
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbarLogo {
  height: 100px; 
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 900;
  font-size: 1.3rem;
  color: #1D5C63;
}


/* Features */

#features {
  text-align: center;
}

.featureHeader {
  font-weight: 900;
  color: #1D5C63;
  padding: 3%;
}

.feature-title {
  font-weight: 900;
  line-height: 1.5;
  color: #1D5C63;
}

.features-row{
  padding: 5% 5%;
}

.salsitaName {
  font-family: "Lobster";
  background: linear-gradient(to right, #FF165D, #FF9A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featureLeftSide{
  width: 90%;
  padding: 30% 2% 0 5%;
}


.featureColLeft {
  padding: 50px 1%;
}

.featureColRight {
  padding: 50px 3%;
}

.feature-img {
  color: #FF9A00;
}

.feature-img:hover {
  color: #FF165D;
}


/* Testimonials  */

#testimonials {
  text-align: center;
  color: #fff;
}

.testimonial-header {
  padding: 3% 20% 1%;
  font-size: 3rem;
  font-weight: 900;
}
  
/* .testimonial_carousel_item {
  padding: 2% 30% 5%;
}

.special-text {
  font-family: "Lobster";
  color: #1D5C63;
} */

.autoMargin {
  margin-left: 6%;
}

.reviewBg {
  background-color: #1D5C63;
  border-radius: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.reviewPhoto {
  border-radius: 10px 100px / 120px;
  padding: 5%;
  width: 50%;
}



.reviewTitle{
  font-family: "Lobster";
  color: white;
  font-weight: 600;
}

.reviewText {
  color: white;
  width: 70%;
  margin: auto;
  padding-bottom: 5%;

}
.extraWeight {
  font-weight: 700;
  font-size: 1.1rem;
}

/* Skill List */

.card-header {
  color: #1D5C63;
  font-family: "Lobster";
}

.skillRow {
  padding: 5% 15%;
}

/* Call to Action */
#cta {
  background-color: #1D5C63;
  padding: 6% 23% 4%;
  color: white;
}
 .cta-h3 {
   font-weight: 900;
   font-size: 3.5rem;
   line-height: 4.5rem;
   color: white;
 }

.ctaDescription {
  padding: 4% 1%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

/* footer */
#footer {
  padding: 5% 5% 1%;
}

	

/* About Page  */
#about {
  text-align: center;
}

.aboutHeader {
  font-family: "Lobster";
  font-size: 3.5rem;
  color: white;
  padding-top: 70px;
}

.aboutParagraph {
  font-family: "Montserrat";
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 5rem;
  letter-spacing: .2rem;
  margin: auto;
  color: white;
}

.aboutParagraph2 {
  font-family: "Montserrat";
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  letter-spacing: .2rem;
  padding-top: 2rem;
}

.aboutCTA {
  font-family: "Lobster";
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.upsize {
  font-weight: 900;
}

.extraSpace {
  margin: 150px 80px 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.moveRight{
  margin-left: 1rem;
}

.aboutPage{
	padding-left:0px;
	padding-right:0px;
}
/*Media Queries*/
@media screen and (max-width: 1200px) {

  .navbarLogo {
    height: 30px;
  }

}


@media screen and (max-width: 700px) {

  .aboutHeader {
    font-size: 2.5rem;
  }
  .aboutParagraph {
    font-size: 1rem;
  }

  .aboutParagraph2 {
    font-size: 1rem;
  }

  .extraSpace{
    margin: 150px auto 70px;
    padding-left:10px;
    padding-right:10px;
    width: 80%;
  }
}


/* Contact Page */

.contactForm{
    margin-top: 200px auto 50px;
    padding: 10px 5% 5%;
    color: white;
    text-align: left;
    width: 80%;
}


.contactHeader{
  font-size: 2.5rem;
  font-family: "Lobster";
  text-align: center;
  padding: 20px;
}
