body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

/* Title */
#title {
  background-color: #0AA;
  color: white;
}

.carouselContainer {
  padding: 0;
}

.slideOne {
  width: 100%;
  margin: auto;
}

.titleCarousel {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.7rem;
  line-height: 1.5;
  padding: 5% 15%;
  text-align: left;
}

.carousel-caption {
	bottom: 20%;
}

.rainbowWord1{
  background: linear-gradient(to right, #FF165D, #FF9A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.rainbowWord2{
  background: linear-gradient(to left, #FF165D, #FF9A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .titleImg {
  width: 20%;
  border-radius: 90%;
  margin: 5% 30%;
} */


.titleButtons {
  text-align: center;
}



@media (max-width: 500px) {
  h1 {
    text-align: center;
    padding-right: 2%;
    font-size: 3rem;
  }
}

p {
  color: #1D5C63;
}

.contact-btn {
  margin: 5% 3% 5% 0;
}



/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbarLogo {
  height: 100px; 
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 900;
  font-size: 1.3rem;
  color: white;
}


/* Features */

#features {
  text-align: center;
}

.featureHeader {
  font-weight: 900;
  color: #1D5C63;
  padding: 3%;
}

.feature-title {
  font-weight: 900;
  line-height: 1.5;
  color: #1D5C63;
}

.features-row{
  padding: 5% 5%;
}

.salsitaName {
  font-family: "Lobster";
  background: linear-gradient(to right, #FF165D, #FF9A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featureLeftSide{
  width: 90%;
  padding: 30% 2% 0 5%;
}


.featureColLeft {
  padding: 50px 1%;
}

.featureColRight {
  padding: 50px 3%;
}

.feature-img {
  color: #FF9A00;
}

.feature-img:hover {
  color: #FF165D;
}


/* Testimonials  */

#testimonials {
  background-color: #0AA;
  color: #fff;
}

.testimonial-header {
  padding: 3% 20% 1%;
  font-size: 3rem;
  font-weight: 900;
}
  
.carousel-item {
  padding: 2% 30% 5%;
}

.special-text {
  font-family: "Lobster";
  color: #1D5C63;
}

/* Skill List */

.card-header {
  color: #0AA;
  font-family: "Lobster";
}

.skillRow {
  padding: 5% 15%;
}

/* Call to Action */
#cta {
  background-color: #0AA;
  padding: 6% 23% 4%;
}
 .cta-h3 {
   font-weight: 900;
   font-size: 3.5rem;
   line-height: 4.5rem;
   color: white;
 }

.ctaDescription {
  padding: 4% 1%;
  color: white;
  font-size: 2rem;
}

/* footer */
#footer {
  padding: 5% 5% 1%;
}
